*.xen
*.qb
*.pyc
*.xlsx
*.bak
*/build*
*/dist*
*.spec
*.ska
.idea/discord.xml
*/MidiFiles*
QBParser/
create_audio/
pak_extract/testing/
test/
output/
scratchpad/
build/
dist/
midqb_gen/midqb_gen*/
pak_extract/pak_extract*/
pak_extract/Input*/
pak_extract/Decompressed PAKs*/
pak_extract/test*/
dbg_*.py
compile-exe.bat
Reaper Gen/
