*.xen
!conversion_files/gh3_scripts.qb.xen
*.ps3
*.qb
*.pyc
*.xlsx
*.bak
*/build*
*/dist*
*.spec
*.ska
*.wav
!create_audio/default_audio/blank.wav
*.fsb
*.mp3
.vs/
guides/
.idea/discord.xml
*/MidiFiles*
QBParser/
conversion_files_prod/
pak_extract/testing/
test/
output/
scratchpad/
build/
dist/
test*/
tofix*
*.mid
debug/
midqb_gen/midqb_gen*/
midqb_gen/PAK Folders*/
midqb_gen/PAK Compile*/
pak_extract/pak_extract*/
pak_extract/Input*/
pak_extract/Decompressed PAKs*/
pak_extract/test*/
dbg_*.py
compile-exe.bat
Reaper Gen/
tofix.txt
*.pyproj
libmp3lame*
gui/gui ideas.txt
dependencies/