*.xen
*.qb
*.pyc
*.xlsx
*.bak
*/build*
*/dist*
*.spec
*.ska
.vs/
gui/
.idea/discord.xml
*/MidiFiles*
QBParser/
create_audio/
pak_extract/testing/
test/
output/
scratchpad/
build/
dist/
test*/
tofix*
*.mid
midqb_gen/midqb_gen*/
midqb_gen/PAK Folders*/
midqb_gen/PAK Compile*/
pak_extract/pak_extract*/
pak_extract/Input*/
pak_extract/Decompressed PAKs*/
pak_extract/test*/
dbg_*.py
compile-exe.bat
Reaper Gen/
tofix.txt
*.pyproj
libmp3lame*